
html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif; // if user machine doesnt support Arial, Helvetica is goint to be uses, same for helvetica.
    font-size: $m-size;
    background-color: $darkblue;
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

button:focus{
    outline: none;
}